/*Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
}
/*clearfix */
.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}
* {
  font-family: "proxima_nova_rgregular","Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background: #DACEB4;
  font-size: 13px;
  color: #333;
}

.container {
  width: 1170px; /* default width to support most popular tablets and laptops*/
  margin: 0 auto;
  display: table;
  position: relative;
  height: 500px;
}

#kwit, #kwitNumber, #headText, #logo {
  display: inline-block;
  box-sizing: border-box;
  height: 50px;
}

#header {
  min-height: 50px;
  max-height: 200px;
  background: #B2A176;
  width: 100%;
  display: block;
  margin-bottom: 5px;
  position:relative;
  float:left;
}

#kwit {
  padding: 7px;
  float: left;
  margin-right: 5px;
}

#kwit > h1 {
  color: #8B7741;
  font-size: 2.5em;
  font-weight: normal;
}

#kwitNumber {
  float: left;
  padding-top: 5px;
}

#kwitNumber-input {
  background: #fffaf7;
  border-radius: 10px;
  font-size: 1.8em;
  color: #8B7741;
  padding: 5px 0 5px 10px;
  width: 200px;
  z-index: 9999999;
}

#headText a {
  text-decoration: none;
  color: #8B7741;
  font-weight: bold;
}

#headText {
  width: 650px;
  height: 50px;
  padding: 10px 0 0 0;
  margin-left: 10px;
  float: left;
}

#headText > p {
  font-size: 0.9em;
  color: #8B7741;
}

#logo {
  height: 50px;
  padding-top: 10px;
  padding-right: 10px;
  float: right;
}

.normal-box {
  height: 105px;
  border-radius: 10px;
  background: #413100;
  color: #FFFFFF;
  float: left;
  position: relative;
  display: block;
  box-sizing: border-box;
}

.normal-box h2 {
  font-size: 1.3em;
  padding: 5px;
  margin-left: 5px;
  display: inline-block;
}

.center {
  width: 90%;
  text-align: center;
}

.left {
  text-align: left;
}

.big-box {
  height: 135px;
}

.little-box {
  height: 70px;
}

.smallBox {
  width: 17px;
  height: 17px;
  border-radius: 4px;
  background: #FFFFFF;
  position: absolute;
  top: 6px;
  right: 6px;
}


.lightgreen{
	background-color: lightgreen;
}

.whiteBox {
  width: 95%;
  margin: 0 auto;
  height: 70px;
  border-radius: 10px;
  background: #FFFFFF;
  padding: 8px 10px;
  font-weight: bold;
  box-sizing: border-box;
}

.connection {
  min-height: 10px;
  float: left;
  display: table;
  width: 0.4em;
}

.pad-connection {
  padding-top: 40px;
}

.big-pad-connection {
  padding-top: 195px;
}

.normal-connection {
  display: block;
  width: 100%;
  height: 20px;
  background: #413100;
  margin-top: 40px;

}

.line-connection {
  display: block;
  width: 100%;
  height: 10px;
  background: #413100;
  margin: 20px 0 0 0;

}

.margin-connection {
  margin-top: 85px;
}

.block-fat {
  display: block;
  float: left;
}

.row {
  position:relative;
  display: table;
  width: 100%;
  min-height: 20px;
}

input, select {
  font-size: 1.6em;
  border-radius: 5px;
  padding: 2px;
  color: #333;
  text-align: center;
  border: 0;
  outline: none;
  background: white;
}
select {
  font-size: 1.485em;
}

/*Turns off increment button in all number fields*/
input[type=number]::-webkit-inner-spin-button,
input[type=date]::-webkit-inner-spin-button{
  -webkit-appearance: none;
  margin: 0;
}
input:focus, select:focus {
  box-shadow: inset 0 0 5px 1px #ffb500;
}


.line {
  width: 92%;
  margin: 2px 3% 2px 3%;
}
textarea {
  resize: none;
  color: #333333;
  line-height: 150%;
  outline: none;
  border: none;
}

/*First Row of input form */

.topper {
  position: relative;
  border-radius: 5px 5px 0 0;
  background: #413100;
  padding: 2px 5px 0 5px;
  display: inline-block;
  margin-left: 15px;
  margin-top: 3px;
}

.topper > p {
  font-size: 0.9em;
  height: 15px;
  color: #FFFFFF;
  display: inline-block;

}

/* topper box, maybe DRY with smallBox */
.topper > i {
  width: 13px;
  height: 13px;
  border-radius: 2px;
  display: inline-block;
  margin: 0 0 0 5px;
  position: relative;
  top: 2px;

}

.topperNeighbor {
  color: #8B7741;
  font-size: 1em;
  display: inline-block;
  margin-left: 10px;

}

.tan {
  background-color: #C4B693;
}

.white {
  background: #FFF;
}
.red {
  background : #f8ff91;
  box-sizing: padding-box;
  border: 1px solid #ff9900;
}

.white > p {
  color: #C4B693;
}

/*Second row of input form */
#namaLengcap {
  width: 280px;
  overflow: hidden;
}
#namaLengcap textarea {
  font-size: 1.4em;
}

#jenisKelami {
  width: 170px;
  text-align: left;
}


.gender{
   background: white;
    color: #E9E2D2;
    height: 70px;
	width: 72px;
	font-size: 2em;
	font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
	border-radius: 10px;
    margin-left: 8px;
    font-weight: bold;
    outline: none;
    border: 0;
}

#nomorTelepon {
  width: 300px;
}
#nomorTelepon textarea {
  font-size: 1.5em;
}

#alamat {
  width: 400px;
}

/*Second row of boxes*/

#produk {
  width: 205px;
  border-radius: 10px 0 0 10px;
}

.produk-input {
	-webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}


#nomorSeri {
  width: 250px;
  border-radius: 10px 10px 10px 0;
  background: linear-gradient(to bottom, #413100,#413100 30px, #C4B693 65px, #C4B693 ) #C4B693;
}
.round {
  border-radius: 10px;
}

#tanggal {
  width: 205px;
  padding-top: 20px;
}

#stempel {
  width: 245px;
}
p.stempel-text{
  width: 90%;
  font-size: 2em;
  color: #cd564a;
  text-align: center;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 5px;
}
#stempel input {
  color: #a90000;
  font-weight: bold;
  font-size: 2em;
}
#namaPenjual textarea {
  font-size: 1.3em;
  padding: 10px;
  margin: 5px;
  font-weight: bold;
  color: #a90000;
}

/*Second part of 2nd row of boxes */
#harga {
  width: 500px;
  height: 268px;
}

.harga-1, h2.harga-1 {
  width: 170px;
}

.harga-2, h2.harga-2 {
  width: 70px;
}

.line-harga {
  margin: 2px 1% 2px 1%;
}

.harga-pad {
  width: 100%;
  display: block;
  height: 5px;
}

.sign {
  display: inline-block;
  width: 8px;
  margin: 0 0;
  padding: 0 1px;
  font-weight: bold;
  font-size: 1.2em;
  text-align: left;
}

#namaPenjual {
  width: 280px;
}
#namaPenjual textarea {
  color: #333;

}

#totalHarga {
  width: 205px;
  padding-top: 20px;
}

#cicil, #pelanggan {
  width: 200px;
}

#cicil {
  height: 135px;
  padding-top: 5px;
}
#cicil input {
  margin-top: 1px;
  margin-bottom: 1px;
}

#pelanggan {
  height: 105px;
}

.submit {
  color: #eee;
  border: 1px solid #B2A176;
  padding: 16px 25px 15px 25px;
  font-size: 3.8em;
  border-radius: 10px;
  margin-top: 4px;
  margin-left: 10px;
  opacity: 0.9;
}
.disabled {
  background-color: #dcd7d2;
}
.enabled {
  background: linear-gradient(to bottom, #ff9900, #eb8500 50%, #d97700);
}
.submit:hover {
  box-shadow: 1px 1px 1px 1px #333;
}

.indicator {
  width: 25px;
  height: 25px;
  position: absolute;
  bottom: 7px;
  right: 5px;
  background: lightgray;
  border: 1px solid white;
  border-radius: 5px;
}
.genderback {
  background-color: #ff9900;
}
#feedback {
  height: 45px;
  width:  99.2%;
  background: #B2A176;
  border: 2px solid white;
  border-radius: 5px;
  display: block;
  float:left;
  position:relative;
  margin: 30px 2px;
  box-sizing: border-box;


}
.feedback-header, .feedback-total-amount, .feedback-total-forms {
  color: white;
  font-size: 1.5em;
  padding: 10px;
  display: inline-block;

}
.missing {
  display: block;
  width: 155px;
  height: 75px;
  border-radius: 10px;
  margin-top: 4px;
  margin-left: 10px;
  padding: 10px;
  color: #FF9900;
  font-size: 1em;
}
.missing p {
  padding-top: 4px;
}
.hidden {
  display:none;
}

.whiteOnWhite{
	background: #ffffff;
	height: 33px;
	width: 392px;
	position: relative;
	left: 4px;
	border-radius: 10px;
	margin-bottom: 4px;
}

.alamat-input {
  font-size: 1.3em;
  display: inline-block;
  margin: 5px 2px 2px 2px;
  padding: 4px;
}
#alamat-1-input, #alamat-3-input, #alamat-4-input, #alamat-6-input {
  width: 33%;

}
#alamat-2-input, #alamat-5-input {
  width: 20%;
}
#alamat-1-input, #alamat-4-input {
  margin-left: 5px;
}
.nama-penjual {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 1.5em;
  padding: 5px;
  border: 1px dotted #ddd;
  border-radius: 10px;
}
