/*Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background: #DACEB4;
  font-size: 12px;
  color: #333;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
}

.container {
  width: 1170px; /* default width to support most popular tablets and laptops*/
  margin: 0 auto;
}

#kwit, #kwitNumber, #headText, #logo {
  display: inline-block;
  box-sizing: border-box;
  height: 50px;
}

#header {
  background: #B2A176;
  width: 100%;
  display: block;
  margin-bottom: 5px;
  position: relative;
  float: left;
}

#kwit {
  padding: 7px;
  float: left;
  margin-right: 5px;
}

#kwit > h1 {
  color: #8B7741;
  font-size: 2.5em;
  font-weight: normal;
}

#kwitNumber {
  float: left;
  padding-top: 5px;
}

#kwitNumber > input {
  height: 30px;
  background: #E9E2D2;
  border-radius: 10px;
  font-size: 1.8em;
  color: #8B7741;
  padding: 5px 0 5px 10px;
  width: 200px;
}

#headText a {
  text-decoration: none;
  color: #8B7741;
  font-weight: bold;
}

#headText {
  width: 640px;
  height: 50px;
  padding: 10px 0 0 0;
  margin-left: 10px;
  float: left;
}

#headText > p {
  font-size: 0.9em;
  color: #8B7741;
}

#logo {
  height: 50px;
  padding-top: 5px;
  padding-right: 10px;
  color: #E9E2D2;
  font-size: 1.3em;
  font-weight: bold;
  float: right;
}

.normal-box {
  height: 105px;
  border-radius: 10px;
  background: #413100;
  color: #FFFFFF;
  float: left;
  position: relative;
  display: block;
  box-sizing: border-box;
}

.normal-box h2 {
  font-size: 1.3em;
  padding: 5px;
  margin-left: 5px;
  display: inline-block;
}

.center {
  width: 90%;
  text-align: center;
}

.left {
  text-align: left;
}

.big-box {
  height: 135px;
}

.little-box {
  height: 70px;
}

.smallBox {
  width: 17px;
  height: 17px;
  border-radius: 4px;
  background: #FFFFFF;
  position: absolute;
  top: 6px;
  right: 6px;
}


.lightgreen{
	background-color: lightgreen;
}

.submit:hover{
	-webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
}

.whiteBox {
  width: 95%;
  margin: 0 auto;
  height: 70px;
  border-radius: 10px;
  background: #FFFFFF;
  padding: 8px 10px;
  font-weight: bold;
  box-sizing: border-box;
}

.connection {
  min-height: 10px;
  float: left;
  display: block;
  width: 5px;
}

.pad-connection {
  padding-top: 40px;
}

.big-pad-connection {
  padding-top: 195px;
}

.normal-connection {
  display: block;
  width: 100%;
  height: 20px;
  background: #413100;
  margin-top: 40px;

}

.line-connection {
  display: block;
  width: 100%;
  height: 10px;
  background: #413100;
  margin-top: 20px;

}

.margin-connection {
  margin-top: 85px;
}

.block-fat {
  display: block;
  float: left;
}

.row {
  display: block;
  width: 100%;
}

input {
  font-size: 1.6em;
  border-radius: 5px;
  padding: 2px;
  color: #333;
  text-align: center;
  border: 0;
  outline: none;
}

/*Turns off incriment button in all number fields*/
input[type=number]::-webkit-inner-spin-button, 
input[type=date]::-webkit-inner-spin-button{ 
  -webkit-appearance: none; 
  margin: 0; 
}

.line {
  width: 92%;
  margin: 2px 3% 2px 3%;
}
textarea {
  resize: none;
  color: #333333;
  line-height: 150%;
  outline: none;
  border: none;
}

/*First Row of input form */

.topper {
  position: relative;
  border-radius: 5px 5px 0 0;
  background: #413100;
  padding: 2px 5px 0px 5px;
  display: inline-block;
  margin-left: 15px;
  margin-top: 3px;
}

.topper > p {
  font-size: 0.9em;
  height: 15px;
  color: #FFFFFF;
  display: inline-block;

}

/* topper box, maybe DRY with smallBox */
.topper > i {
  width: 13px;
  height: 13px;
  border-radius: 2px;
  background: #FFFFFF;
  display: inline-block;
  margin: 0 0 0 5px;
  position: relative;
  top: 2px;

}

.topperNeighbor {
  color: #8B7741;
  font-size: 1em;
  display: inline-block;
  margin-left: 10px;

}

.tan {
  background: #C4B693;
}

.white {
  background: #FFF;
}

.white > p {
  color: #C4B693;
}

/*Second row of input form */
#namaLengcap {
  width: 280px;
}
#namaLengcap textarea {
  font-size: 1.27em;
}

#jenisKelami {
  width: 170px;
  text-align: left;
}


#jenisKelami button {
  background: white;
  color: #E9E2D2;
  height: 70px;
  width: 72px;
  font-size: 2em;
  border-radius: 10px;
  margin-left: 8px;
  font-weight: bold;
  outline: none;
  border: 0;
}

#nomorTelepon {
  width: 300px;
}
#nomorTelepon textarea {
  font-size: 1.5em;
}

#alamat {
  width: 400px;
}

/*Second row of boxes*/

#produk {
  width: 205px;
  border-radius: 10px 0 0 10px;
}

#nomorSeri {
  width: 250px;
  border-radius: 0 10px 10px 0;
}

#tanggal {
  width: 205px;
  padding-top: 20px;
}

#stempel {
  width: 245px;
}
#stempel textarea, #namaPenjual textarea {
  font-size: 1.4em;
  padding: 10px;
  margin: 5px;
  font-weight: bold;
  color: #a90000;
}

/*Second part of 2nd row of boxes */
#harga {
  width: 500px;
  height: 268px;
}

.harga-1, h2.harga-1 {
  width: 170px;
}

.harga-2, h2.harga-2 {
  width: 70px;
}

.line-harga {
  margin: 2px 1% 2px 1%;
}

.harga-pad {
  width: 100%;
  display: block;
  height: 16px;
}

.sign {
  display: inline-block;
  width: 8px;
  margin: 0 0;
  padding: 0 1px;
  font-weight: bold;
  font-size: 1.2em;
  text-align: left;
}

#namaPenjual {
  width: 280px;
}
#namaPenjual textarea {
  color: #333;

}

#totalHarga {
  width: 205px;
  padding-top: 20px;
}

#cicil, #pelanggan {
  width: 200px;
}

#cicil {
  height: 135px;
  padding-top: 5px;
}
#cicil input {
  margin-top: 1px;
  margin-bottom: 1px;
}

#pelanggan {
  height: 105px;
}

button.submit {
  color: #413100;
  border: 1px solid #B2A176;
  padding: 20px;
  font-size: 3em;
  border-radius: 10px;
  background: #DACEB4;
  margin-top: 8px;
  margin-left: 10px;
}
.indicator {
  width: 20px;
  height: 20px;
  position: fixed;
  bottom: 5px;
  right: 5px;
  background: lightgray;
  border: 1px solid white;
  border-radius: 50%;
}
