/*Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	}



body{
	background:  #DACEB4;
}


#kwit, #kwitNumber, #headText, #logo{
	display: inline-block;
    box-sizing: border-box;
}
#header{
	background: #B2A176;
	width: 100%;
	display: block;
    min-height: 100px;
    max-height: 500px;
    margin-bottom: 10px;
    position: relative;
}

#kwit{
    height: 90px;
    padding: 5px;
}

#kwit>p{
	color: #8B7741;
	font-size: 3em;
	font-family: 'Arial Narrow';
}

#kwitNumber{
	min-width: 200px;
    width: 20%;
    height: 90px;
    padding: 5px;
}

#kwitNumber>input {
    background: #E9E2D2;
    border-radius: 15px;
    font-size: 2.5em;
    color: #8B7741;
    padding: 2px;
    margin: auto auto;
}
#headText{
    min-width: 400px;
    max-width: 700px;
    height: 90px;
    padding: 5px;
}

#headText>p{
	font-size: 1.2em;
	color: #8B7741;
	font-family: 'Arial Narrow';
}

#logo{
    height: 90px;
    min-width: 300px;
    max-width: 400px;
    margin-right: 10px;
    text-align: right;
	color: #E9E2D2;
	font-size: 1.3em;
	font-family: Arial;
	font-weight: bold;
}
.normal-box {
    height: 200px;
    border-radius: 15px;
    background: #413100;
    color: #FFFFFF;
    float: left;
    position: relative;
    display:block;
}
.normal-box p{
    color: #FFFFFF;
    font-size: 1.3em;
    font-family:"Arial Narrow";
    padding: 15px;
}
.smallBox{
    width: 26px;
    height: 26px;
    border-radius: 4px;
    background: #FFFFFF;
    position: absolute;
    top: 15px;
    right: 15px;
}
.whiteBox{
    width: 95%;
    margin: 0 auto;
    height: 130px;
    border-radius: 15px;
    background: #FFFFFF;
}

.connection{
    height: 200px;
    float: left;
    display: block;
}
.connection i {
    display: block;
    width: 7px;
    height: 20px;
    background: #413100;
    margin-top: 90px;

}
.row{
    display: block;
    width: 100%;
}
input.line {
    width: 95%;
    font-size: 2em;
    border-radius: 5px;
    margin: 7px 5px;
    padding: 5px;
    color: #333;

}

/*First Row of input form */

#topper{
	width: 220px;
	border-radius: 15px 15px 0 0;
	background: #413100;
	padding: 5px;
    display: inline-block;
    margin-left: 30px;
}
#topper>p{
	padding-left: 2px;
	font-family: "Arial Narrow";
	font-size: 1.2em;
	width: 478px;
	height: 30px;
	color: #FFFFFF;

}
#topperNeighbor{
	color: #8B7741;
	font-family: "Arial Narrow";
	width: 700px;
	height: 30px;
	font-size: 1.2em;
    display: inline-block;

}
/*Second row of input form */
#firstBox{
	width: 470px;
    margin-left: 10px;
}

#secondBox{
	width: 230px;
}


#secondBox button{
	background: white;
	color: #E9E2D2;
	height: 130px;
	width: 90px;
	font-size: 2em;
	font-family:"Arial Narrow";
	border-radius: 10px;
	decoration: none;
	margin-left: 15px;
	font-weight: bold;
}

#thirdBox{
	width: 400px;
}

#fourthBox{
	width: 500px;
}

#firstLine{
	width: 675px;
	height: 67px;
	border-radius: 15px;
	background: #FFFFFF;
	color: #E9E2D2;
}

#firstLine>div{
	color: red/*#E9E2D2*/;
	font-size: 2em;
	font-family:"Arial Narrow";
}

#secondLine{
	width: 675px;
	height: 67px;
	border-radius: 15px;
	background: #FFFFFF;
	color: #E9E2D2;
	float: left;
}

#thirdTopper{
	width: 260px;
	height: 40px;
	border-radius: 5px;
	background: #C4B693;
	padding: 2px;
	float: left;
	font-size: 1em;
	font-family:"Arial Narrow";
	color: #FFFFFF;

}

#thirdTopperNeighbor{
	width: 260px;
	height: 40px;
	border-radius: 5px;
	background: #C4B693;
	padding: 2px;
	float: left;
	font-size: 1em;
	font-family:"Arial Narrow";
	color: #FFFFFF;
}

#cicil{
	width: 176px;
	height: 40px;
	border-radius: 5px;
	background: #C4B693;
	padding: 2px;
	float: left;
	font-size: 1em;
	font-family:"Arial Narrow";
	color: #DED0B3;
}

#firstBigBox{
	background: #C4B693;
	width: 811px;
	height: 270px;
	border-radius: 15px;
}

#produk{
	float: left;
	position: relative;
}
#produk>p{
	font-size: 1em;
	font-family:"Arial Narrow";
	color: #FFFFFF;

}

#whiteBox5{
	background: #FFFFFF;
	width: 320px;
	height: 62px;
	border-radius: 10px;
	margin: 10px;
}

#beigeBox1{
	background: #E9E2D2;
	width: 320px;
	height: 62px;
	border-radius: 10px;
	margin: 10px;
}

#beigeBox2{
	background: #E9E2D2;
	width: 320px;
	height: 62px;
	border-radius: 10px;
	margin: 10px;
}

#leftSideTop{
	height: 122px;
	width: 472px;
	background: #413100;
	float: right;
	border-radius: 15px;
}

#brownBox{
	height: 164px;
	background: #B2A176;
	width: 472px;
	float: right;
	border-radius:0 0 15px 15px;
}

#nomorSeri{
	font-size: 1em;
	font-family:"Arial Narrow";
	color: #FFFFFF;
}



#whiteBox6{
	background: #FFFFFF;
	height: 60px;
	width: 454px;
	border-radius: 10px;

#beigeBox3{
	background: #E9E2D2;
	width: 454px;
	height: 62px;
	border-radius: 10px;
	margin: 10px;
}

#beigeBox4{
	background: #E9E2D2;
	width: 454px;
	height: 62px;
	border-radius: 10px;
	margin: 10px;
}

#connection4{
	top: -200px;
	width: 20px;
	height: 20px;
	background: #413100;
}
#connection5{
	top: -200px;
	width: 20px;
	height: 20px;
	background: #413100;
}
#connection6{
	top: -200px;
	width: 20px;
	height: 20px;
	background: #413100;
}

#secondBigBox{
	background: #C4B693;
	width: 758px;
	height: 545px;
	border-radius: 15px;
}

#harga{
	font-size: 1em;
	font-family:"Arial Narrow";
	color: #FFFFFF;
	float: left;
}

#jumlah{
	font-size: 1em;
	font-family:"Arial Narrow";
	color: #FFFFFF;
	float: left;
}

#total{
	font-size: 1em;
	font-family:"Arial Narrow";
	color: #FFFFFF;
	float: left;
}


#firstUnit{
	float: left;
	height: 62px;
	width: 280px;
	background: #FFFFFF;
	border-radius: 10px;
	margin-right: 5px;
}

#multiply1{
	font-size: 1em;
	font-family:"Arial Narrow";
	color: #FFFFFF;
	float:left;
	margin-right: 5px;
	margin-top: 12px;
}

#firstJumlah{
	float: left;
	height: 62px;
	width: 110px;
	background: #FFFFFF;
	border-radius: 10px;
	margin-right: 3px;
}

#firstEqual{
	font-size: 1em;
	font-family:"Arial Narrow";
	color: #FFFFFF;
	float:left;
	margin-right: 3px;
	margin-top: 9px;
}

#firstTotal{
	float: left;
	height: 62px;
	width: 297px;
	background: #FFFFFF;
	border-radius: 10px;
}


#secondUnit{
	float: left;
	height: 62px;
	width: 280px;
	background: #FFFFFF;
	border-radius: 10px;
	margin-right: 5px;
}

#multiply2{
	font-size: 1em;
	font-family:"Arial Narrow";
	color: #FFFFFF;
	float:left;
	margin-right: 5px;
	margin-top: 12px;
}

#secondJumlah{
	float: left;
	height: 62px;
	width: 110px;
	background: #FFFFFF;
	border-radius: 10px;
	margin-right: 3px;
}

#secondEqual{
	font-size: 1em;
	font-family:"Arial Narrow";
	color: #FFFFFF;
	float:left;
	margin-right: 3px;
	margin-top: 9px;
}

#secondTotal{
	float: left;
	height: 62px;
	width: 297px;
	background: #FFFFFF;
	border-radius: 10px;
}


#thirdUnit{
	float: left;
	height: 62px;
	width: 280px;
	background: #FFFFFF;
	border-radius: 10px;
	margin-right: 5px;
}

#multiply3{
	font-size: 1em;
	font-family:"Arial Narrow";
	color: #FFFFFF;
	float:left;
	margin-right: 5px;
	margin-top: 12px;
}

#thirdJumlah{
	float: left;
	height: 62px;
	width: 110px;
	background: #FFFFFF;
	border-radius: 10px;
	margin-right: 3px;
}

#thirdEqual{
	font-size: 1em;
	font-family:"Arial Narrow";
	color: #FFFFFF;
	float:left;
	margin-right: 3px;
	margin-top: 9px;
}

#thirdTotal{
	float: left;
	height: 62px;
	width: 297px;
	background: #FFFFFF;
	border-radius: 10px;
}

#thirdBigBox{
	background: #C4B693;
	width: 330px;
	height: 270px;
	border-radius: 15px;
}
* { outline: dashed 1px hsla(200, 100%, 50%, 0.7) }
